#container {
    max-width: 1000px; 
    margin: auto;
    background-color: rgb(220, 255, 245);
}

#titlefar {
    color: rgb(0, 109, 78);
    font-size: 28px;
}

.form {
    color: rgb(0, 109, 78);
    font-size: 20px;
    line-height: 37px
}

.bar {
    margin: 5px;
    background-color: rgb(242, 255, 251);
    border: none;
    width: 460px;
    height: 35px;
}

#saddress {
    width: 938px;
}

#saddress2 {
    width: 938px;
}


.submit {
    margin: 33px;
    color: white;
    background-color: rgb(0, 123, 86);
    border: none;
    width: 180px;
    height: 42px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
}

.ep{
    display: flex;
    height: 87px;
}

.phone1 {
    margin-left: 4px;
}


.submit1 {
    display: flex;
    justify-content: center;
}

::placeholder {
    font-size: 14px;
    color: rgb(0, 109, 78);
}

.gender {
    background-color: rgb(242, 255, 251);
    color: rgb(0, 109, 78);
    font-size: 15px;
    width: 950px;
    margin: 10px 0px;
}

#gender1 {
    color: rgb(0, 109, 78);
    font-size: 20px;
}

.phone1 {
    display: grid;
}

#country {
    font-size: 15px;
    color: rgb(0, 109, 78);
    width: 463px;
}

.farmer {
    margin-top: 10px;
}

