.container {
    max-width: 1024px; 
    margin: auto;
}   

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rightheader {
    text-align: center;
    width: 800px;
}

.logo {
    background-color: #F1F1F1;
    border: 2px solid;
    padding: 25px;
}

#ph{
    display: flex;
    justify-content:flex-end;
}

.phone {
    background-color: #F1F1F1;
    width: 100%;
    max-width: 300px;
    border: 2px solid;
    margin-left: 1%;
}

.menu {
    background-color: #F1F1F1;
    max-width: 800px;
    border: 2px solid;
    margin-top: 2%;
    margin-left: 1%;
}

#image {
    background-color: #F1F1F1;
    border: 2px solid;
    max-width: 1024px;
    height: 250px;
    margin-top: 2%;
}

.content {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

#text{
    background-color: #F1F1F1;
    border: 2px solid;
    width: 600px;
    height: 250px;
    text-align: center;
}

#bar{
    background-color: #F1F1F1;
    border: 2px solid;
    width: 400px;
    height: 250px;
    text-align: center;
    margin-left: 1%;
}

#footer{
    background-color: #F1F1F1;
    margin-top: 2%;
    border: 2px solid;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

