#container {
    margin: auto;
    background: #FFFFFF;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
}

.h_title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'inter';
    font-size: 24px;
    margin: 5px 0px;
}

.h_link a:hover {
    color: #cfcfcf;
}

.head {
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: white;
    box-shadow: 5px 5px 100px #b3b3b3;
    height: 150px;

}

#duck {
    color: rgb(115, 115, 115);
}

.dd {
    margin: 15px 0px;
}

.logo {
    display: flex;
    justify-content: space-around;
}

.search {
    padding-left: 75px;
}

.h_link a {
    font-family: 'inter';
    font-size: 13px;
    padding: 0px 6px;
    text-decoration: none;
    color: black;
}

#pro_ser {
    color: rgb(145, 145, 145);
    ;
}

.h_logo a {
    padding: 0px 6px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(230, 230, 230);
    background-color: rgba(230, 230, 230, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.closebtn {
    position: absolute;
    top: 30px;
    left: 50px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    padding: 20px 0px;
    transition: 0.3s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.icon {
    display: none;
}

.slide_show {
    background-color: black;
    display: flex;

    align-items: center;
    color: white;

    font-size: 28px;
    text-align: center;
    font-family: 'inter';
}

.image {
    width: 800px;
    height: 400px;
}

.img_show {
    width: 100%;
    height: 100%;
}

.categories {
    display: flex;
    justify-content: space-around;
    margin: 100px 0px;

}

.content {
    width: 22%;
    background-color: #3a3a3a;
    color: rgb(220, 220, 220);
}

.content_column {
    padding: 35px 20px 5px 20px ;
}

.column {
    width: 22%;
    text-align: center;
    box-shadow: 5px 10px 18px #888888;
    text-decoration: none;
}

.column a {
    text-decoration: none;
    color: black;
}

.column a:hover {
    color: #b3b3b3;

}

.dartboard_column {
    padding: 35px 20px 5px 20px ;
}

.dart_column {
    padding: 35px 20px 5px 20px;
}

.access_column {
    padding: 35px 20px 5px 20px;
}

.cate_title {
    font-size: 80%;
    font-family: 'Poppins';
    padding: 5px;
    margin: 0px;
}

.cate_img {
    width: 100%;
}

.showing {
    display: flex;
    justify-content: space-between;
}

.showing_left {
    padding: 20px 20px 20px 50px ;
    line-height: 30px;
}

.showing_right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
}

.showing_right a{
    text-decoration: none;
    color: black;
}

.showing_right a:hover {
    color: rgb(236, 236, 236);
}

.filter {
    padding: 0px 8px;
}

.promotion {
    box-shadow: 5px 10px 18px #888888;
    margin-top: 85px;
    max-width: 80%;
    margin: auto;

}

.first_row {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    padding: 20px 50px;
}

.first_row h2 {
    font-family: 'Poppins';
    font-size: 14px;
    margin-bottom: 0px;

    cursor: pointer;
}

.first_row h2:hover {
    color: rgb(115, 115, 115);
}

.second_row {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    padding: 20px 50px;
}

.second_row h2 {
    font-family: 'Poppins';
    font-size: 14px;
    margin-bottom: 0px;

    cursor: pointer;
}

.second_row h2:hover {
    color: rgb(115, 115, 115);
}

.price {
    display: flex;
    justify-content: center;
}

.nor_price {
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 12px;
    padding-right: 10px;
    text-decoration: line-through;
    margin-bottom: 10px
}

.promo_price {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 12px;

    cursor: pointer;
}

.promo_item {
    margin: 20px 10px;
    height: auto;
    box-shadow: 5px 10px 18px #e3e3e3;
}

#safe_item h2 {
    margin-top: 22px;
}

.promo_item img {
    max-width: 100%;
}

.promotion_title h1 {
    font-family: 'inter';
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 5px;
    padding: 25px 0px 0px 0px;
}

.promo_but {
    display: flex;
    justify-content:center;
    margin-bottom: 100px;
}

.promotion_button {
    cursor: pointer;

    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;

    margin: 30px 0px 40px 0px;
    width: 130px;
    height: 40px;
    color: white;
    background-color: black;
}

.arrow {
    display: none;
}

.promotion_banner {
    display: flex;
    justify-content: center;
    margin: 50px 0px 100px 0px;
}

.pb_content {
    background: #E7E7E7;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #585858;
    padding: 15px 30px;
    width: 30%;
    height: 10%;
    margin-top: 15%;
    margin-left: -10%;   
}

.pb_img {
    margin: 10px;
    box-shadow: 5px 10px 18px #e3e3e3;
    border-radius: 112px;

    width: 90%;
}

.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;

    font-size: 8px;
    font-family: 'Poppins';
}

.footer_left {
    width: 20%;
    margin: 20px 20px 30px 70px;
    font-family: 'inter';
}

.f_title {
    display: flex;
    font-size: 20px;
    margin: 10px;
}

#duck2 {
    color: rgb(115, 115, 115);
}


.social_png {
    margin: 10px;
}

.copyright {
    margin: 50px 0px 20px 10px;
}


.service {
    width: 10%;
    padding: 40px;
}

.service h1{
    cursor: pointer;
}

.service h1:hover {
    color: rgb(115, 115, 115);
}

.blog p:hover {
    color: rgb(115, 115, 115);
}

.blog {
    width: 20%;
    padding: 40px;
}

.blog p {
    font-size: 13px;
    cursor: pointer;
}

.contact{
    width: 13%;
    padding: 40px;
}

.contact p {
    font-size: 13px;
}

.address {
    width: 20%; 
    padding: 40px 65px 40px 40px;
    font-size: 13px;
}

.hiden_item {
    display: none;
}

@media screen and (max-width: 1100px) {

    .item1 {
        grid-area: header1;
    }

    .item2 {
        grid-area: header2;
    }

    .item3 {
        grid-area: body1;
    }

    .item4 {
        grid-area: body2;
    }

    .item5 {
        grid-area: led1;
    }

    .item6 {
        grid-area: led2;
    }

    .item7 {
        grid-area: footer1;
    }

    .item8 {
        grid-area: footer2;
    }

    .first_row {
        display: grid;
        grid-template-areas:
            'header1 header2'
            'body1 body2';
        gap: 10px;
        padding: 10px;
    }

    .second_row {
        display: grid;
        grid-template-areas:
            'led1 led2'
            'footer1 footer2';
        gap: 10px;
        padding: 10px;
    }

    .pb_content {
        margin-top: 22%;
        margin-left: -14%; 
        transition: 1s;
    }

}

@media screen and (max-width: 1000px) {
    .column {
        width: 100%;

    }

    .content_column {
        padding: 20px;
    }

    .content {
        grid-area: content1;
        width: 100%;
        padding: 0px;
    }

    .dartboard_column {
        grid-area: body1;
    }

    .dart_column {
        grid-area: body2;
    }

    .access_column {
        grid-area: body3;
    }

    .categories {
        display: grid;
        grid-template-areas:
            'content1 body1'
            'body2 body3';
        gap: 10px;
        padding: 10px;
    }

    .footer_left {
        margin: 20px 20px 30px 10px;
    }
    .address {
        padding: 40px 10px 10px 10px;
        width: 5%;
    }

    .blog {
        padding: 40px 10px 10px 10px;
        width: 10%;
    }

    .contact {
        padding: 40px 10px 10px 10px;
        width: 18%;
    }
}



@media screen and (max-width: 800px) {

    .h_link a {
        display: none;
    }

    .search {
        display: none;
    }

    .h_logo :not(:first-child) {
        display: none;
    }

    .shop {
        position: relative;
        bottom: 65px;
        height: 30px;
    }

    .icon {
        position: relative;
        bottom: 65px;
        display: block;
    }

    .head {
        height: 100px;
    }

    .service {
        display: none;
    }

    .blog {
        display: none;
    }

    .contact {
        display: none;
    }

    .address {
        display: none;
    }

    .social_img {
        display: none;
    }

    .copyright {
        display: none;
    }

    .footer {
        display: grid;
    }

    .footer_left{
        width: 100%;
        margin: 0px;
    }

    .hiden_item {
        margin: 10px 10px 30px 13px;
        display: block;
    }

    .pns {
        display: flex;
    }

    .ci {
        display: flex;
    }

    .slide_content {
        display: none;
    }

    .image {
        display: block;
    }

    .pb_content {
        margin-top: 27%;
        margin-left: -20%; 
        transition: 1s;
    }

}

@media screen and (max-width: 600px) {
    
    .overlay a {
        font-size: 20px
    }

    .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .promotion_banner {
        display: grid;
    }

    .pb_content {
        width: 80%;
        height:80%;
        margin-top: 3%;
        margin-left: 2%;
    }

    .showing_left {
        display: none;
    }

    .showing {
        justify-content: center;
    }

    .arrow {
        position: relative;
        display: block;
        top: 33%;

        cursor: pointer;
    }

    #safe_item {
        display: block;
    }

    .promo_item {
        display: none;
    }

    .show_item {
        display: flex;
        justify-content: space-around;
    }

    .categories {
        display: grid;
        grid-template-areas:
            'content1'
            'body1';
        gap: 10px;
        padding: 10px;
        margin-top: 70px;
    }

    .arrow {
        padding: 10px 10px;
    }

    #arrow_left {
        padding-left: 20px;
    }

    #arrow_right {
        padding-right: 20px;
    }

    .second_row {
        display: none;
    }

    .column {
        display: none;
    }

    #dartboard_column {
        display: flex;
    }

}

@media screen and (max-width: 428px) {

    .h_title {
        font-size: 18px;
    }

    .shop {
        bottom: 58px;
    }

    .icon {
        bottom: 58px;
    }
}