#container {
    margin: auto;
    background: #FFFFFF;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
}

.h_title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'inter';
    font-size: 24px;
    margin: 5px 0px;
}

.h_link a:hover {
    color: #cfcfcf;
}

.head {
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: white;
    box-shadow: 5px 5px 100px #b3b3b3;
    height: 150px;

}

#duck {
    color: rgb(115, 115, 115);
}

.dd {
    margin: 15px 0px;
}

.logo {
    display: flex;
    justify-content: space-around;
}

.search {
    padding-left: 75px;
}

.h_link a {
    font-family: 'inter';
    font-size: 13px;
    padding: 0px 6px;
    text-decoration: none;
    color: black;
}

#home {
    color: rgb(145, 145, 145);
    ;
}

.h_logo a {
    padding: 0px 6px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(230, 230, 230);
    background-color: rgba(230, 230, 230, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.closebtn {
    position: absolute;
    top: 30px;
    left: 50px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    padding: 20px 0px;
    transition: 0.3s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;

    font-size: 8px;
    font-family: 'Poppins';
}

.footer_left {
    width: 20%;
    margin: 20px 20px 30px 70px;
    font-family: 'inter';
}

.f_title {
    display: flex;
    font-size: 20px;
    margin: 10px;
}

#duck2 {
    color: rgb(115, 115, 115);
}


.social_png {
    margin: 10px;
}

.copyright {
    margin: 50px 0px 20px 10px;
}


.service {
    width: 10%;
    padding: 40px;
}

.service h1 {
    cursor: pointer;
}

.service h1:hover {
    color: rgb(115, 115, 115);
}

.blog p:hover {
    color: rgb(115, 115, 115);
}

.blog {
    width: 20%;
    padding: 40px;
}

.blog p {
    font-size: 13px;
    cursor: pointer;
}

.contact {
    width: 13%;
    padding: 40px;
}

.contact p {
    font-size: 13px;
}

.address {
    width: 20%;
    padding: 40px 65px 40px 40px;
    font-size: 13px;
}

.hiden_item {
    display: none;
}

.icon {
    display: none;
}

@media screen and (max-width: 1000px) {

    .footer_left {
        margin: 20px 20px 30px 10px;
    }

    .address {
        padding: 40px 10px 10px 10px;
        width: 5%;
    }

    .blog {
        padding: 40px 10px 10px 10px;
        width: 10%;
    }

    .contact {
        padding: 40px 10px 10px 10px;
        width: 18%;
    }
}

@media screen and (max-width: 800px) {

    .h_link a {
        display: none;
    }

    .search {
        display: none;
    }

    .h_logo :not(:first-child) {
        display: none;
    }

    .shop {
        position: relative;
        bottom: 65px;
        height: 30px;
    }

    .icon {
        position: relative;
        bottom: 65px;
        display: block;
    }

    .head {
        height: 100px;
    }

    .service {
        display: none;
    }

    .blog {
        display: none;
    }

    .contact {
        display: none;
    }

    .address {
        display: none;
    }

    .social_img {
        display: none;
    }

    .copyright {
        display: none;
    }

    .footer {
        display: grid;
    }

    .footer_left {
        width: 100%;
        margin: 0px;
    }

    .hiden_item {
        margin: 10px 10px 30px 13px;
        display: block;
    }

    .pns {
        display: flex;
    }

    .ci {
        display: flex;
    }

    .address {
        padding: 1px;
    }

}

@media screen and (max-width: 600px) {
    
    .overlay a {
        font-size: 20px
    }

    .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

}

@media screen and (max-width: 428px) {

    .h_title {
        font-size: 18px;
    }

    .shop {
        bottom: 58px;
    }

    .icon {
        bottom: 58px;
    }
}