#container {
    margin: auto;
    background: #FFFFFF;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
}

.h_title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'inter';
    font-size: 24px;
    margin: 5px 0px;
}

.h_link a:hover {
    color: #cfcfcf;
}

.head {
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: white;
    box-shadow: 5px 5px 100px #b3b3b3;
    height: 150px;
}

#duck {
    color: rgb(115, 115, 115);
}

.dd {
    margin: 15px 0px;
}

.logo {
    display: flex;
    justify-content: space-around;
}

.search {
    padding-left: 75px;
}

.h_link a {
    font-family: 'inter';
    font-size: 13px;
    padding: 0px 6px;
    text-decoration: none;
    color: black;
}

#home {
    color: rgb(145, 145, 145);
    ;
}

.h_logo a {
    padding: 0px 6px;
}

.img_show {
    height: 410px;
    position: relative;
    background-image: url("../img/h_bg.jpg");
    background-size: 101%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px 0px 45px 0px;
}

.show_content {
    position: absolute;
    left: 60%;
    top: 55px;
    background: rgba(0, 0, 0, 0.36);
    backdrop-filter: blur(17px);

    color: white;
    padding: 30px 20px;
}

.show_content h1 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
}

.show_content p {
    font-family: 'Poppins';
    font-weight: 100;
    font-size: 16px;
    line-height: 28px;
    padding: 0px 50px 0px 0px;
}

.show_button {
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 700;
    margin: 15px 0px;
    width: 130px;
    height: 40px;
}

.product {
    box-shadow: 5px 10px 18px #888888;
    margin-top: 85px;
    max-width: 80%;
    margin: auto;
}

.product_title {
    font-family: 'inter';
    text-align: center;
    padding: 10px 0px 5px 0px;
}

.product_title h1 {
    font-size: 30px;
    margin: 20px 0px 10px 0px;
}

.title_line {
    margin: auto;
    width: 105px;
    border-top: 4px solid #C4C4C4;
}

.product_content {
    margin: auto;
    margin-bottom: 45px;
    text-align: center;
    max-width: 55%;

    font-family: 'Poppins';
    font-weight: 200;
    font-size: 15px;
}

.product_type {
    display: flex;
    justify-content:space-around;

    margin: auto;

    padding: 20px;
}

.product_word {
    color: white;
    text-align: center;
    border: 2px solid;
    background-color: black;
    margin: 20px 10px 40px 10px;
    max-width: 100%;

    font-family: 'Poppins';
    font-size: 12px;

    cursor: pointer;
}

.product_word :hover {
    color: #bebebe;
}

.product_img {
    max-width: 70%;
    min-height:60%;
    margin-left: 15%;
}

.vision {
    position: relative;
    height: 400px;
    margin: 70px 0px 50px 0px;

}

.visions {
    background-image: url("../img/vision_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 43%;
    margin-left: 25%;
    width: 60%;
    height: 380px;
}

.vision_column {
    position: absolute;
    background-color: #f5f5f5;
    width: 27%;
    top: 11%;
    left: 15%;
    padding: 30px 45px;
}

.vision_column h1 {
    font-family: 'inter';
    font-weight: 700;
    font-size: 30px;
}

.vision_column p {
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 15px;
    max-width: 95%;
}

.vision_button {
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 700;
    margin: 15px 0px;
    width: 130px;
    height: 40px;
    color: white;
    background-color: black;
    border: none;
}

.vision_button:hover {
    color: rgb(0, 0, 0);
    background-color: #f5f5f5;
}

.club {
    background-color: black;
    color: white;
    font-family: 'Poppins';
    text-align: center;
    margin-bottom: 60px;
}

.club h1 {
    padding-top: 40px;
    font-size: 30px;
}

.club p {
    font-size: 25px;
    font-weight: 200;
    width: 57%;
    margin: auto;
    padding: 0px 0px 35px 0px;
}

.email_type {
    width: 35%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 40px;
    font-family: 'inter';
    font-weight: 300;
    font-size: 15px;
}

.subscribe {
    cursor: pointer;
    font-family: 'Poppins';
    width: 170px;
    height: 50px;
    margin: 0px 20px 0px 20px;
    background-color: rgb(0, 75, 0);
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

.subscribe:hover {
    background-color: rgb(0, 89, 0);
}

.player {
    box-shadow: 5px 10px 18px #888888;
    margin-top: 85px;
    max-width: 80%;
    margin: auto;
}

.player_title h1 {
    font-family: 'inter';
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px;
    padding: 25px 0px 0px 0px;
}

.player_content {
    font-family: 'poppins';
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 20px 0px 25px 0px;
}

.famous_player {
    display: flex;
    justify-content: space-around;

    padding: 25px;

    margin: auto;
}

.famous_player p {
    font-family: 'poppins';
    font-weight: 200;
    font-size: 16px;
    text-align: center;
    margin-top: 15px;

    cursor: pointer;
}

.famous_player p:hover {
    color: #a9a9a9;
}

.title_line1 {
    margin: auto;
    width: 60px;
    border-top: 4px solid #C4C4C4;
}

.img_player {
    display: flex;

    border-radius: 10px;
    width: 80% ;
    margin: auto;

}

.ply_but {
    display: flex;
    justify-content: center;
}


.player_button {
    cursor: pointer;

    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;

    margin: 0px 0px 30px 0px;
    width: 130px;
    height: 40px;
    color: white;
    background-color: black;
}

.player_button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
}

.promotion {
    box-shadow: 5px 10px 18px #888888;
    margin-top: 85px;
    max-width: 80%;
    margin: auto;

}

.first_row {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    padding: 20px 50px;
}

.first_row h2 {
    font-family: 'Poppins';
    font-size: 14px;
    margin-bottom: 0px;

    cursor: pointer;
}

.first_row h2:hover {
    color: rgb(115, 115, 115);
}

.second_row {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    padding: 20px 50px;
}

.second_row h2 {
    font-family: 'Poppins';
    font-size: 14px;
    margin-bottom: 0px;

    cursor: pointer;
}

.second_row h2:hover {
    color: rgb(115, 115, 115);
}

.price {
    display: flex;
    justify-content: center;
}

.nor_price {
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 12px;
    padding-right: 10px;
    text-decoration: line-through;
    margin-bottom: 10px
}

.promo_price {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 12px;

    cursor: pointer;
}

.promo_item {
    
    margin: 20px 10px;
    height: auto;
    box-shadow: 5px 10px 18px #e3e3e3;
}

.promo_item a {
    text-decoration: none;
}

#safe_item h2 {
    margin-top: 22px;
}

.promo_item img {
    max-width: 100%;
}

.promotion_title h1 {
    font-family: 'inter';
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 5px;
    padding: 25px 0px 0px 0px;
}

.promotion_content {
    font-family: 'poppins';
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    max-width: 550px;
    margin: auto;
    padding: 20px 0px 25px 0px;
}

.promo_but {
    display: flex;
    justify-content:center;

}

.promotion_button {
    cursor: pointer;

    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;

    margin: 30px 0px 40px 0px;
    width: 130px;
    height: 40px;
    color: white;
    background-color: black;
}

.promotion_button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
}

.company {
    position: relative;
    margin: 80px 0px 0px 0px;
}

.companys {
    background-image: url(../img/company.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    margin-left: 10%;
    width: 50%;
    height: 490px;
}

.company_column {
    position: absolute;
    background-color: #f5f5f5;
    width: 30%;
    top: 10%;
    right: 10%;
    padding: 30px 45px;
}

.company_column h1 {
    font-family: 'inter';
    font-weight: 700;
    font-size: 30px;
}

.company_column p {
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 15px;
}

.company_button {
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 700;
    margin: 15px 0px;
    width: 130px;
    height: 40px;
    color: white;
    background-color: black;
}

.company_button:hover {
    color: rgb(0, 0, 0);
    background-color: #f5f5f5;
    border: none;
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(230, 230, 230);
    background-color: rgba(230, 230, 230, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.closebtn {
    position: absolute;
    top: 30px;
    left: 50px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    padding: 20px 0px;
    transition: 0.3s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.icon {
    display: none;
}

.arrow {
    display: none;
}

@media screen and (max-width: 1200px) {

    .item1 {
        grid-area: header1;
    }

    .item2 {
        grid-area: header2;
    }

    .item3 {
        grid-area: body1;
    }

    .item4 {
        grid-area: body2;
    }

    .item5 {
        grid-area: led1;
    }

    .item6 {
        grid-area: led2;
    }

    .item7 {
        grid-area: footer1;
    }

    .item8 {
        grid-area: footer2;
    }

    .first_row {
        display: grid;
        grid-template-areas:
            'header1 header2'
            'body1 body2';
        gap: 10px;
        padding: 10px;
    }

    .second_row {
        display: grid;
        grid-template-areas:
            'led1 led2'
            'footer1 footer2';
        gap: 10px;
        padding: 10px;
    }

    .company_column {
        position: absolute;
        top: 20px;
        transition: 1s;

    }

    .vision_column {
            position: absolute;
            top: 8%;
            transition: 0.5s;
    }
}

@media screen and (max-width: 1000px) {

    .show_content {
        position: relative;
        left: 0%;
        top: 450px;
        width: 700px;
        margin: auto;
    }

    .show_content p {
        max-width: 100%;
    }

    .product {
        margin-top: 380px;
    }

    .companys {
        margin-left: 0px;
        width: 100%;
    }

    .company_column {
        position: absolute;
        top: 0px;
        left: 5%;
        width: 80%;
    }

    .vision_column {
        position: absolute;
        top: 3%;
    }

}

@media screen and (max-width: 800px) {

    .item1 {
        grid-area: header1;
    }

    .item2 {
        grid-area: header2;
    }

    .item3 {
        grid-area: body1;
    }

    .item4 {
        grid-area: body2;
    }

    .item5 {
        grid-area: led1;
    }

    .item6 {
        grid-area: led2;
    }

    .item7 {
        grid-area: footer1;
    }

    .item8 {
        grid-area: footer2;
    }

    .first_row {
        display: grid;
        grid-template-areas:
            'header1'
            'header2'
            'body1'
            'body2';
        gap: 10px;
        padding: 10px;
    }

    .second_row {
        display: grid;
        grid-template-areas:
            'led1'
            'led2'
            'footer1'
            'footer2';
        gap: 10px;
        padding: 10px;
    }

    .h_link a {
        display: none;
    }

    .search {
        display: none;
    }

    .h_logo :not(:first-child) {
        display: none;
    }

    .shop {
        position: relative;
        bottom: 65px;
        height: 30px;
    }

    .icon {
        position: relative;
        bottom: 65px;
        display: block;
    }

    .show_content {
        position: relative;
        left: 0%;
        top: 450px;
        width: 500px;
        margin: auto;
    }

    .show_content p {
        max-width: 100%;
    }

    .product {
        margin-top: 380px;
    }

    .product_type {
        display: grid;
    }

    .dart_column {
        
       max-width: 100%;
    }

    #dart_img {
        margin-left: 33%;
    }



    .visions {
        background-position: 55%;
        width: 80%;
        margin: auto;
    }

    .vision_column {
        position: relative;
        left: 0%;
        top: 60px;
        width: 68%;
        margin: auto;
    }

    .club {
        margin-top: 400px;
    }

    .famous_player {
        display: grid;
    }

    .first_row {
        display: grid;
    }

    .second_row {
        display: grid;
    }

    .promo_item {
        margin-top: 10px;
    }
    
    .companys {
        margin-left: 0px;
        width: 100%;
    }

    .company_column {
        position: absolute;
        top: 0px;
        left: 5%;
        width: 74%;
    }

    .head {
        height: 100px;
    }
}


@media screen and (max-width: 600px) {
    
    .overlay a {
        font-size: 20px
    }

    .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .show_content {
        position: relative;
        left: 0%;
        top: 450px;
        width: 390px;
        margin: auto;
    }

    .product {
        margin-top: 400px;
    }

    .vision_column {
        position: relative;
        left: 0%;
        top: 60px;
        width: 65%;
        margin: auto;
    }

    .club {
        margin-top: 400px;
    }

    .dart_column {
        display: none;
    }

    .accessories_column {
        display: none;
    }

    .product_type {
        display: flex;
    }

    .arrow {
        position: relative;
        display: block;
        top: 33%;

        cursor: pointer;
    }

    .hiden_play {
        display: none;
    }

    .show_player {
        display: flex;
        justify-content: space-around;
    }

    #safe_item {
        display: block;
    }

    .promo_item {
        display: none;
    }

    .show_item {
        display: flex;
        justify-content: space-around;
    }

    .arrow {
        padding: 10px 10px;
    }

    #arrow_left {
        padding-left: 20px;
    }

    #arrow_right {
        padding-right: 20px;
    }

    .promotion_button {
        margin-top: 0px;
    }

    .second_row {
        display: none;
    }

}

@media screen and (max-width: 500px) {
    .vision_column {
        position: relative;
        left: 0%;
        top: 60px;
        width: 60%;
        margin: auto;
    }

    .companys {
        margin-left: 0px;
        width: 100%;
    }

    .company_column {
        position: absolute;
        top: 0px;
        left: 3%;
        width: 74%;
    }

}

@media screen and (max-width: 428px) {
    .company_column {
        position: absolute;
        top: 0px;
        left: 1%;
        width: 74%;
    }

    .show_content {
        position: relative;
        left: 0%;
        top: 95%;
        width: 85%;
        margin: auto;
    }

    .h_title {
        font-size: 18px;
    }

    .shop {
        bottom: 58px;
    }

    .icon {
        bottom: 58px;
    }
}