#container {
    max-width: 1920px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
}

.h_title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'inter';
    font-size: 24px;
    margin: 10px 0px;
}

.h_link a:hover {
    color: #cfcfcf;
}

.head {
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: white;
    box-shadow: 5px 5px 100px #b3b3b3;
    height: 150px;

}

#duck {
    color: rgb(115, 115, 115);
}

.dd {
    margin: 15px 0px;
}

.logo {
    display: flex;
    justify-content: space-around;
}

.search {
    padding-left: 75px;
}

.h_link a {
    font-family: 'inter';
    font-size: 15px;
    padding: 0px 6px;
    text-decoration: none;
    color: black;
}

#home {
    color: rgb(145, 145, 145);
}

#ps {
    color: rgb(145, 145, 145);
}   

.h_logo img {
    padding: 0px 6px;
}

.pointer{
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(230, 230, 230);
    background-color: rgba(230, 230, 230, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.closebtn {
    position: absolute;
    top: 30px;
    left: 50px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    padding: 20px 0px;
    transition: 0.3s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.icon {
    display: none;
}

.promotion {
    margin-top: 85px;
    max-width: 80%;
    margin: auto;

}

.related_pro {
    box-shadow: 5px 10px 18px #888888;
}

.first_row_column {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    padding: 20px 50px;

    align-items: center;
}

.show_arrow {
    padding: 10px;
}

.first_row h2 {
    font-family: 'Poppins';
    font-size: 14px;
    margin-bottom: 0px;
}

.first_row h2:hover {
    color: rgb(115, 115, 115);
}

.recently_vie_pro {
    box-shadow: 5px 10px 18px #888888;
}

.second_row_column {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    padding: 20px 50px;

    align-items: center;
}

.second_row h2 {
    font-family: 'Poppins';
    font-size: 14px;
    margin-bottom: 0px;
}

.second_row h2:hover {
    color: rgb(115, 115, 115);
}

.show_arrow {
    display: none;
}

.price {
    display: flex;
    justify-content: center;
}

.nor_price {
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 12px;
    padding-right: 10px;
    text-decoration: line-through;
    margin-bottom: 10px
}

.promo_price {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 12px;
}

.promo_item {
    margin: 20px 10px;
    height: auto;
    box-shadow: 5px 10px 18px #e3e3e3;
}

.promo_item a {
    text-decoration: none;
}

#safe_item h2 {
    margin-top: 22px;
}

.promo_item img {
    max-width: 100%;
}

.promotion_title h1 {
    font-family: 'inter';
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 5px;
    padding: 25px 0px 0px 0px;
}

.arrow {
    display: none;
}

.location {
    background-color: #d4d4d4;
    height: 130px;
}

.location h1{
    padding: 30px 90px 10px 90px ;
    margin: 0px;
    font-family: 'inter';
    font-size: 26px;
}

.location a{
    margin: 90px;
    font-size: 13px;
    text-decoration: none;
    color: black;
    font-family: 'poppins';
}

.location a:hover {
    color: #898989;
}

.product_show {
    display: flex;
    box-shadow: 5px 10px 18px #eaeaea;
    background-color: #f9f9f9;
    margin: 50px 50px 30px 50px ;
}

.product_img {
    padding: 80px 70px;
    width: 55%;
}

.big_img img {
    padding-left: 70px;
    width: 85%;
}

.small_img {
    display: flex;
}

.sm_img{
    width: 90%;
    margin: 10px;
}

.product_info {
    padding: 60px 80px 60px 60px;
    width: 75%;
}

.product_info p {
    margin: 40px 0px;
    font-family: 'poppins';
    font-size: 16px;
}

.product_info h1 {
    font-family: 'poppins';
    font-size: 25px;
}


.pro_material {
    margin: 90px 0px 10px 0px;
}

.pro_material p {
    margin: 10px 0px;
}

.button {
    display: flex;
}

.plus_min_button {
    border: 1px solid;
    display: flex;
    margin: 10px;
    align-items: center;
    width: 70%;
    justify-content: space-around;

}

.plus_min_button h1 {
    font-family: 'poppins';
    font-size: 13px;
    margin: 3px;
    padding: 4px;
}

.show_button {
    margin: 10px;
    background-color: black;
    color: white;
    font-family: 'inter';
    width: 70%;
}

.show_button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
}

.heart_column {
    padding: 20px;
}

.des_title {
    display: flex;
    justify-content: center;

    font-family: 'poppins';
}

.des_title p {
    padding: 10px;
}

.nomal {
    display: flex;
    font-weight: bolder;
}

.product_description {
    text-align: center;
}

.des_content {
    text-align: center;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;

    font-family: 'poppins';
}

.des_column {
    width: 65%;

}

.rp {
    text-align: center;
    padding-top: 10px;

    font-family: 'poppins';
}

.rp h1{
    font-size: 30px;
}

.related_pro {
    margin-bottom: 70px;
}

.rvp {
    text-align: center;
    padding-top: 10px;

    font-family: 'poppins';
}

.rvp h1{
    font-size: 30px;
}

.recently_vie_pro {
    margin-bottom: 70px;
}

.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;

    font-size: 8px;
    font-family: 'Poppins';
}

.footer_left {
    width: 20%;
    margin: 20px 20px 30px 70px;
    font-family: 'inter';
}

.f_title {
    display: flex;
    font-size: 20px;
    margin: 10px;
}

#duck2 {
    color: rgb(115, 115, 115);
}


.social_png {
    margin: 10px;
}

.copyright {
    margin: 50px 0px 20px 10px;
}


.service {
    width: 10%;
    padding: 40px;
}

.service h1:hover {
    color: rgb(115, 115, 115);
}

.blog p:hover {
    color: rgb(115, 115, 115);
}

.blog {
    width: 20%;
    padding: 40px;
}

.blog p {
    font-size: 13px;
}

.contact {
    width: 13%;
    padding: 40px;
}

.contact p {
    font-size: 13px;
}

.address {
    width: 20%;
    padding: 40px 65px 40px 40px;
    font-size: 13px;
}

.hiden_item {
    display: none;
}

.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


@media screen and (max-width: 1100px) {

    .item1 {
        grid-area: header1;
    }

    .item2 {
        grid-area: header2;
    }

    .item3 {
        grid-area: body1;
    }

    .item4 {
        grid-area: body2;
    }

    .item5 {
        grid-area: led1;
    }

    .item6 {
        grid-area: led2;
    }

    .item7 {
        grid-area: footer1;
    }

    .item8 {
        grid-area: footer2;
    }

    .first_row_column {
        display: grid;
        grid-template-areas:
            'header1 header2'
            'body1 body2';
        gap: 10px;
        padding: 10px;
    }

    .second_row_column {
        display: grid;
        grid-template-areas:
            'led1 led2'
            'footer1 footer2';
        gap: 10px;
        padding: 10px;
    }

    .product_info {
        width: 50%;
        padding: 70px 60px 20px 20px;
        transition: 1s;
    }

    .product_info p {
        font-size: 12px;
    }

    .product_info h1 {
        font-size: 15px;
    }

    .button {
        display: grid;
    }

    .plus_min_button {
        width: 180px;
    }

    .plus_min_button h1 {
        font-size: 13px;
    }

    .show_button {
        width: 200px;
        font-size: 13px;
        padding: 8px;
    }

    .heart_column {
        width: 60%;
    }

    .pro_material {
        display: none;
    }

}

@media screen and (max-width: 1000px) {

    .footer_left {
        margin: 20px 20px 30px 10px;
    }

    .address {
        padding: 40px 10px 10px 10px;
        width: 5%;
    }

    .blog {
        padding: 40px 10px 10px 10px;
        width: 10%;
    }

    .contact {
        padding: 40px 10px 10px 10px;
        width: 18%;
    }
}

@media screen and (max-width: 800px) {

    .h_link a {
        display: none;
    }

    .search {
        display: none;
    }

    .h_logo :not(:first-child) {
        display: none;
    }

    .shop {
        position: relative;
        bottom: 65px;
        height: 30px;
    }

    .icon {
        position: relative;
        bottom: 65px;
        display: block;
    }

    .head {
        height: 100px;
    }


    .service {
        display: none;
    }

    .blog {
        display: none;
    }

    .contact {
        display: none;
    }

    .address {
        display: none;
    }

    .social_img {
        display: none;
    }

    .copyright {
        display: none;
    }

    .footer {
        display: grid;
    }

    .footer_left {
        width: 100%;
        margin: 0px;
    }

    .hiden_item {
        margin: 10px 10px 30px 13px;
        display: block;
    }

    .pns {
        display: flex;
    }

    .ci {
        display: flex;
    }

    .address {
        padding: 1px;
    }

    .product_show {
        display: grid;

    }

    .product_img {
        width: 80%;
        padding: 10%;
    }

    .big_img img {
        padding-left: 15%;
    }

    .product_info {
        width: 80%;
        padding: 3% 10%;
    }

    .product_info h1 {
        font-size: 20px;
        margin-left: 10px;
    }

    .product_info p {
        font-size: 14px;
        margin-left: 10px;
    }

    .plus_min_button h1 {
        padding: 5px;
        font-size: 13px;
    }

}

@media screen and (max-width: 600px) {

    .overlay a {
        font-size: 20px
    }

    .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    #safe_item {
        display: block;
    }

    #safe_item2 {
        display: block;
    }

    .promo_item {
        display: none;
    }

    .show_item {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .arrow {
        display: block;
    }

    .rp h1{
        font-size: 25px;
    }

    .rvp h1 {
        font-size: 25px;
    }

    .stage p {
        font-size: 14px;
    }

}

@media screen and (max-width: 428px) {

    .h_title {
        font-size: 18px;
    }

    .shop {
        bottom: 58px;
    }

    .icon {
        bottom: 58px;
    }

    .des_content p {
        font-size: 14px;
    }
    
}