#container {
    margin: auto;
    background: #FFFFFF;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
}

.h_title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'inter';
    font-size: 24px;
    margin: 5px 0px;
}

.h_link a:hover {
    color: #cfcfcf;
}

.head {
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: white;
    box-shadow: 5px 5px 100px #b3b3b3;
    height: 150px;

}

#duck {
    color: rgb(115, 115, 115);
}

.dd {
    margin: 15px 0px;
}

.logo {
    display: flex;
    justify-content: space-around;
}

.search {
    padding-left: 75px;
}

.h_link a {
    font-family: 'inter';
    font-size: 13px;
    padding: 0px 6px;
    text-decoration: none;
    color: black;
}

#home {
    color: rgb(145, 145, 145);
    ;
}

.h_logo a {
    padding: 0px 6px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(230, 230, 230);
    background-color: rgba(230, 230, 230, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.closebtn {
    position: absolute;
    top: 30px;
    left: 50px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    padding: 20px 0px;
    transition: 0.3s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.icon {
    display: none;
}

@media screen and (max-width: 800px) {

    .h_link a {
        display: none;
    }

    .search {
        display: none;
    }

    .h_logo :not(:first-child) {
        display: none;
    }

    .shop {
        position: relative;
        bottom: 65px;
        height: 30px;
    }

    .icon {
        position: relative;
        bottom: 65px;
        display: block;
    }

    .head {
        height: 100px;
    }

}

@media screen and (max-width: 600px) {
    
    .overlay a {
        font-size: 20px
    }

    .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

}

@media screen and (max-width: 428px) {

    .h_title {
        font-size: 18px;
    }

    .shop {
        bottom: 58px;
    }

    .icon {
        bottom: 58px;
    }
}