
.container3 {
    display: flex;
}

.container3 div {
    flex: 1;
}

#black{
    background-color: #000000;
}

#box6{
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: #ffffff;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 10px;
    padding-top: 155px;
    padding-bottom: 155px;
}

#title2{
    color: #ffffff;
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 46px;
}

#title2a{
    font-family: 'Playfair Display', serif;
    font-size: 46px;
}

#p4{
    color: #ffffff;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    line-height: 30px;
}

#p5{
    color: #ffffff;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    line-height: 30px;
}

#box7{
    background-image: url("../img/homework4.1.jpg");
    background-repeat: no-repeat;
    background-position: center ;
    background-size: 500px;
    border-right: 2px solid;   
    border-color: #ffffff; 
    margin-top: 40px;
    margin-right: 55px;

}